<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="ui container nav-correction">
    <div class="ui centered segment">
        <h1>Add Comment to <%= campsite.name %></h1>
        <form class="ui form" action="/campsites/<%= campsite._id %>/comments" method="POST">
            <div class="field">
                <label for="comment[text]">Comment Text</label>
                <input type="text" name="comment[text]" placeholder="Comment...">
            </div>
            <div>
                <input class="ui button" type="submit">
            </div>
        </form>
    </div>
    <a href="/campsites">Go Back</a>
</div>

<%- include("../partials/footer") %>