<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="ui container nav-correction">
    <div class="ui centered segment">
        <h1>Edit <%= campsite.name %></h1>
        <form class="ui form" action="/campsites/<%= campsite._id %>?_method=PUT" method="POST">
            <div class="field">
                <label for="name">Campsite Name</label>
                <input type="text" name="campsite[name]" value="<%= campsite.name %>">
            </div>
            <div class="field">
                <label for="image">Campsite Image</label>
                <input type="text" name="campsite[image]" value="<%= campsite.image %>">
            </div>
            <div class="field">
                <label for="description">Campsite Description</label>
                <input type="text" name="campsite[description]" value="<%= campsite.description %>">
            </div>
            <div>
                <input class="positive ui button" type="submit">
            </div>
        </form>
    </div>
    <a href="/campsites/<%= campsite.id %>">Go Back</a>
</div>

<%- include("../partials/footer") %>