<%- include("../partials/header") %>
<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
        <h1 class="ui inverted header">View Campsites from all over Scotland!</h1>
        <% if (currentUser) { %>
        <h2>Or add a new one...</h2>
        <a href="/campsites/new" class="ui huge teal button">Add Campsite</a>
        <% } %>
    </div>
</div>
<div class="ui container segment card-container">
    <div class="ui four stackable cards">
        <% campsites.forEach(campsite => { %>
        <div class="ui card">
            <img class="image" src="<%= campsite.image %>">
            <div class="content">
                <div class="header">
                    <%= campsite.name %>
                </div>
                <div class="description">
                    <%= campsite.description %>
                </div>
            </div>
            <a href="/campsites/<%= campsite._id %>" class="ui bottom attached teal button">More Info</a>
        </div>
        <% }); %>
    </div>
</div>
<%- include("../partials/footer") %>