<%- include("../partials/header") %>
<div class="ui container segment">
    <div class="ui three column stackable grid">
        <div class="ui row">
            <div class="ui centered column">
                <h1 class="ui centered header"><%= campsite.name %></h1>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui row">
            <div class="ui four wide column">
                <div class="ui container" id="map-container">
                    <div id="map"></div>
                </div>
                <div class="ui divider"></div>
                <a class="ui teal button" href="https://www.google.com/maps/dir/?api=1&destination=<%= campsite.lat %>,<%= campsite.lng %>">Directions</a>
                <div class="ui raised segments">
                    <div class="ui teal segment">One</div>
                    <div class="ui segment">Two</div>
                    <div class="ui secondary segment">Three</div>
                    <div class="ui segment">Four</div>
                </div>
            </div>
            <div class="ui twelve wide column">
                <div class="ui container">
                    <div class="ui fluid image">
                        <img src="<%= campsite.image %>" alt="">
                    </div>
                    <div class="ui grid">
                        <div class="ui row">
                            <div class="ui eight wide column">
                                <em>Submitted By:
                                    <a href="/users/<%= campsite.author.id %>">
                                        <strong style="text-transform: uppercase;"><%= campsite.author.username %>,</strong>
                                    </a>
                                    <%= moment(campsite.createdAt).fromNow() %> 
                                </em>
                            </div>
                            <div class="ui eight wide column">
                                <div class="ui right aligned container">
                                    <h4>
                                        <i class="pound sign icon"></i>
                                        <%= campsite.price %>
                                        /Night
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="ui row">
                            <div class="ui two wide column">
                                <% if (currentUser && campsite.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                <a href="/campsites/<%= campsite._id %>/edit" class="ui orange button">Edit</a>
                                <% } %>
                            </div>
                            <div class="ui two wide column">
                                <% if (currentUser && campsite.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                <form class="inline fields" action="/campsites/<%= campsite._id %>?_method=DELETE"
                                    method="POST">
                                    <button class="negative ui button">Delete</button>
                                </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui content">
                        <p><%= campsite.description %></p>
                    </div>
                </div>
                <div class="ui secondary segment">
                    <div class="ui grid">
                        <div class="ui row">
                            <div class="ui right aligned column">
                                <a href="/campsites/<%= campsite._id %>/comments/new" class="ui teal button">Add
                                    Comment</a>
                            </div>
                        </div>
                        <% campsite.comments.forEach(comment => { %>
                        <div class="ui divider"></div>
                        <div class="ui row">
                            <div class="ui five wide column">
                                Posted by - 
                                <a href="/users/<%= comment.author.id %>">
                                    <strong style="text-transform: uppercase;"><%= comment.author.username %></strong>
                                </a>
                            </div>
                            <div class="ui right aligned eleven wide column">
                                <%= moment(comment.createdAt).fromNow() %>
                            </div>
                        </div>
                        <!-- TODO refactor to CSS -->
                        <div class="ui row" style="padding-top: 0;">
                            <div class="ui fourteen wide column">
                                <p>
                                    <%= comment.text %>
                                </p>
                            </div>
                        </div>
                        <% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                        <div class="ui row" style="padding-top: 0;">
                            <div class="ui two wide column">
                                <a href="/campsites/<%= campsite._id %>/comments/<%= comment._id %>/edit"
                                    class="mini ui basic orange button">
                                    <i class="edit icon"></i>
                                    Edit
                                </a>
                            </div>
                            <div class="ui three wide column">
                                <form action="/campsites/<%= campsite._id %>/comments/<%= comment._id %>?_method=DELETE"
                                    method="POST">
                                    <button type="submit" class="mini ui basic red button">
                                        <i class="delete icon"></i>
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                        <% } %>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function initMap() {
        var lat = parseFloat(`<%= campsite.lat %>`);
        var lng = parseFloat(`<%= campsite.lng %>`);
        var center = { lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false,
            disableDefaultUI: true
        });
        var contentString = `
        <strong><%= campsite.name %><br/>
            <%= campsite.location %></strong>
            <p><%= campsite.description %></p>
            `;
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPPuvvK3Kf0dfD25JIgIwO2XW8JPwQX58&callback=initMap"></script>
<%- include("../partials/footer") %>