<%- include("../partials/header") %>

<div class="ui container segment" style="height: 100%;">
    <div class="ui centered card">
        <div class="image" id="avatar" style='background-image: url("<%= user.avatar %>");'></div>
        <div class="content">
            <div class="header">
                <span><%= user.username %></span>
            </div>
        </div>
        <div class="meta">
            <span class="sub header"><%= user.firstName %> <%= user.lastName %></span>
        </div>
        <div class="extra content">
            <%= user.email %>
        </div>
        <% if (currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %> 
        <a href="/users/<%= user.id %>/edit" class="ui bottom attached teal button">Edit Profile</a>
        <% } %>
    </div>
    <div class="ui divider"></div>
</div>

<%- include("../partials/footer") %>